<h1>Task Manager:</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.name %>
      <%= link_to "View", task_path(task) %>
      <%= link_to "Edit", edit_task_path(task) %>
      <%= link_to "Delete", task_path(task), method: :delete %>
      <%= form_for task do |f| %>
        <%= f.label "Mark as done:" %>
        <%= f.check_box :done %>
        <%= f.submit %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Create new task", new_task_path %>

