<h1>Create a new task</h1>

<%= form_for @new_task do |f| %>
  <%= f.label "Name:" %>
  <%= f.text_field :name %>
  <%= f.label "Description:" %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>

<%= link_to "Home", tasks_path %>
